<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Endorsement Explorer Demo</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <form>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Form Version ID</label>
          <!-- <input class="form-control form-control-md" name="formVersionId"
          #formVersionId="ngModel" [(ngModel)]="selectedEndorsement.formVersionId"
          [value]="service.formData.formVersionId" required> -->
          <input class="form-control form-control-md" #formVersionIdInput type="number" name="formVersionId" required >
        </div>
        <div class="form-group col-md-6">
          <button class="btn btn-info btn-block btn-lg" type="submit" [disabled]="!isValid" (click)="onButtonClick(formVersionIdInput.value)">Get Endorsement</button>
        </div>
      </div>

      <div class="form-group">
        <label>Form Name</label>
        <input class="form-control form-control-md" placeholder="Form Name" name="formName"
        [value]="selectedEndorsement?.formName" required>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Form Version Number</label>
          <input class="form-control form-control-md" placeholder="Form Version Number" name="formVersionNumber"
          [value]="selectedEndorsement?.formVersionNo" required>
        </div>
        <div class="form-group col-md-6">
          <label>Blank Count</label>
          <input class="form-control form-control-md" placeholder="Blank Count" name="blankCount"
          [value]="selectedEndorsement?.blankCount" required>
        </div>
      </div>
    </form>
      </div>


  <div class="col-md-6" align="center">
  <div>
    <button> < </button>
    <button> > </button>
  </div>
  <br />
  <div>
    <button>Preview</button>
  </div>


  </div>
</div>


